body {
    background: #dbe3de;
    background: -webkit-linear-gradient(to left, #ffffff, #dbe3de);
    background: linear-gradient(to left, #ffffff, #dbe3de);
}

nav.my-navbar {
    background-color: #dbe3de;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: black;
}

footer.my-footer {
    color: white;
    background-color: black;
}

div.my-container {
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 75px;
}

div.my-row {
    margin-top: 15px;
    margin-bottom: 15px;
    justify-content: center;
}

p.my-text {
    text-align: justify;
}

div.my-dropdown {
    min-width: 155px;
    text-align: right;
}

div.my-row-header {
    margin-top: 25px;
    margin-bottom: 15px;
}

div.my-row-header a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    margin-left: 10px;
}

div.my-row-input label {
    font-weight: bold;
}

div.my-row-input li {
    color: red;
    margin-left: -15px;
}

div.my-row-button {
    padding-top: 10px;
    padding-bottom: 10px;
}

div.my-row-button input {
    margin-left: 10px;
}

div.my-row-alert {
    margin-left: 1.5px;
    margin-right: 1.5px;
    text-align: center;
}

div.my-row-alert button {
    height: 25px;
    width: 50px;
    line-height: 12.5px;
}

div.my-text-bold {
    font-weight: bold;
}

div.my-text-size {
    font-size: 1.25rem;
}

table.my-table td {
    line-height: 35px;
}

table.my-table a {
    text-decoration: none;
    font-weight: bold;
}

form.my-form-search input {
    max-width: 300px;
    height: 32px;
    padding: 7.5px;
    border: 1px solid rgba(128,128,128,0.5);
    background-color: white;
    border-radius: 5px;
    outline: none;
}

form.my-form-search button {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -33px;
}

form.my-form-search button img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

a.my-link-margin {
    text-decoration: none;
    font-weight: bold;
    margin-left: 15px;
}

a.my-link {
    text-decoration: none;
    font-weight: bold;
}

div.my-row-button-add {
    margin-top: 10px;
}

div.my-row-checkbox div div div label {
    font-weight: bold;
}

div.my-row-checkbox li {
    list-style: none;
    display: inline-block;
    width: 50%;
    margin: 2.5px 0px 2.5px 0px;
}