{% extends "base.html" %}
{% from "_helpers.html" import render_flash %}
{% block title %} Kategorie książek {% endblock %}
{% block content %}
    <div class="my-container">
        <div class="mt-4 ml-4 mr-4">
            <div class="row my-row-header">
                <div class="col">
                    <h5>Kategorie książek</h5>
                </div>
                <div class="col d-flex justify-content-end">
                    {% if current_user.is_authenticated and current_user.status.name == admin %}
                    <a href="{{ url_for('main.category_create') }}">Dodaj&nbsp;&#10010;</a>
                    {% endif %}
                </div>
            </div>
            {{ render_flash(get_flashed_messages(with_categories=true)) }}
            <div class="row my-row">
                <div class="col">
                    <table class="table my-table">
                        <thead>
                            <tr>
                                <th class="col-1">Lp.</th>
                                <th class="col-8">Nazwa</th>
                                <th class="col-3 text-center">Ilość</br>książek</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for category in category_list %}
                            <tr>
                                <td class="col-1">{{ loop.index }}</td>
                                <td class="col-8">
                                    <a href="{{ url_for('main.category_details', category_id=category.id) }}">
                                        {{ category }}
                                    </a>
                                </td>
                                <td class="col-3 text-center">{{ category.books|count }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}