{% extends "base.html" %}
{% from "_helpers.html" import render_field, render_flash %}
{% block title %} Logowanie {% endblock %}
{% block content %}
    <div class="my-container">
        <div class="mt-4 ml-4 mr-4">
            <div class="row my-row-header">
                <div class="col">
                    <h5>Logowanie</h5>
                </div>
                <div class="col d-flex justify-content-end">
                    <a href="{{ url_for('auth.user_create') }}">Dodaj profil&nbsp;&#10145;</a>
                </div>
            </div>
            {{ render_flash(get_flashed_messages(with_categories=true)) }}
            <div class="row my-row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8 col-10">
                    <form method="POST">
                        {{ form.csrf_token }}
                        <div class="form-group row my-row-input">
                            <div class="col">
                                {{ render_field(form.email) }}
                            </div>
                        </div>
                        <div class="form-group row my-row-input">
                            <div class="col">
                                {{ render_field(form.password) }}
                            </div>
                        </div>
                        <div class="form-group row my-row-button">
                            <div class="col d-flex justify-content-end">
                                <a href="{{ url_for('main.index') }}" class="btn btn-danger">Anuluj</a>
                                {{ form.submit(class="btn btn-success") }}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row my-row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8 col-10">
                    <img class="rounded mx-auto d-block img-thumbnail" 
                    src="{{ url_for('static', filename='images/user_login.jpg') }}" alt="Login photo">
                </div>
            </div>
        </div>
    </div>
{% endblock content %}